<div ng-init="populate()" style="margin-bottom: 40px !important;">
    <div style="height: 70px !important;">
        <div class="alert alert-danger" data-ng-show="error && error !== ''"><strong>Failure!</strong>&nbsp;{{error}}</div>
        <div class="alert alert-success" data-ng-show="loadingMessage && loadingMessage !== ''"><strong>Success!</strong>&nbsp;{{loadingMessage}}</div>
    </div>
    <div class="panel">
        <div class="input-group" style="margin-bottom: 20px !important;">
            <input ng-model="newSearchString" class="form-control"/>
            <span class="input-group-btn">
                <button ng-click="add()" class="btn float-right btn-primary"><i class="fa fa-search"></i> Sender Email Address</button>
            </span>
        </div>
        <ul class="list-group" id="emailMessageReview"}>
            <div class="list-group-item list-group-item-action flex-column align-items-start" data-ng-repeat="item in emailMessageReview">
            	<div style="overflow-x:auto;">
	                 <table id="emailTable">
	                 <tr>
	                 	<td><b>Item Id </b>{{item.id}}</td>
	                 	<td>{{item.messageType}}<b><font color='green'> : Type </font></b></td>
	                 </tr>
	                 <tr>
	                 	<td><b>From </b>{{item.sender}}</td>
	                 	<td> </td>
	                 </tr>
	                 <tr>
	                 	<td><b>Received at </b>{{item.receivedTime}}</td>
	                 	<td> </td>
	                 </tr>
	                 <tr>
	                 	<td><b>Has Attachment(s) </b>{{item.hasAttachment}}</td>
	                 	<td> </td>
	                 </tr>
	                 <tr>
	                 	<td><b>Preview </b>{{item.bodyPreview}}</td>
	                 	<td> </td>
	                 </tr>
	                 <tr>
	                 	<td><b>Source </b><a href='{{item.url}}'>EmailBody.msg</a></td>
	                 	<td> </td>
	                 </tr>
	                 <tr>
	                 	<td><b><font color='orange'>Classes </font>{{item.categories}}</b></td>
	                 	<td> </td>
	                 </tr>
	                 <tr>
	                   	<td><b><font color='orange'>Review Summary </font></b><font id="reviewTextStyle">
			               <ol id="reviewSummaryOrderedList">
						      <li data-ng-repeat="reviewItem in item.emailMessageReviewSummary">
			                     <span>{{reviewItem}}</span>
			                  </li>
			               </ol>
	                   	</font></td>
	                   	<td>
	                   		<button type="button" class="btn btn-primary float-right btn-sm" ng-click=getUpdatedEmailMessageReviewSummary(item)><i class="fa fa-eye"></i> Review</button>
	                   	</td>
	                 </tr>
	                 </table>
	             </div>
            	 <div class="list-group-item list-group-item-action flex-column align-items-start" data-ng-repeat="attachment in item.attachments">
            			<div style="overflow-x:auto;">
	            			<table id="emailTable">
			                 <tr>
			                 	<td><b>Attachment Id </b>{{attachment.id}}</td>
			                 	<td>{{attachment.messageType}}<b><font color='green'> : Type</font></b></td>
			                 </tr>
			                 <tr>
			                 	<td><b>Attachment </b><a href='{{attachment.url}}'>{{attachment.attachmentName}}</a></td>
			                 	<td>{{attachment.modelType}}<b><font color='green'> : Model</font></b></td>
			                 </tr>
			                 <tr>
			                 	<td><b>Model Id </b>{{attachment.modelId}}</td>
			                 	<td>{{attachment.frAPIVersion}}<b><font color='green'> : API Version</font></b></td>
			                 </tr>
			                 <tr>
			                 	<td><b>Classes </b>{{attachment.categories}}</td>
			                 </tr>
			                 <tr>
			                 	<td><b>Any Handwritten content </b>{{attachment.isHandwritten}}</td>
			                 </tr>
			                 <tr>
			                   	<td><b><font color='orange'>Review Summary </font></b>
			                   	   <font id="reviewTextStyle">
			               			  <ol id="reviewSummaryOrderedList">
								         <li data-ng-repeat="reviewItem in attachment.attachmentReviewSummary">
			                   	            <span>{{reviewItem}}</span>
			                   	         </li>
			                   	      </ol>
								   </font>
								</td>
			                   	<td>
			                   		<button type="button" class="btn btn-primary float-right btn-sm" ng-click=getUpdatedAttachmentReviewSummary(attachment)><i class="fa fa-eye"></i> Review</button>
			                   	</td>
			                 </tr>
	            			</table>
	            		</div>
	            		<div style="overflow-x:auto;">
	            			<table id="emailTable">
			                 <tr>
			                 	<td><b>Attachment Data</b></td>
			                    <td><button class="btn btn-primary float-right btn-sm" ng-click=getUpdatedAttachmentExtracts(attachment)><i class="fa fa-refresh"/> Refresh</button></td>
			                 </tr>
	            			</table>
            			</div>
            			<div class="list-group-item list-group-item-action flex-column align-items-start" 
            							data-ng-repeat="extract in attachment.extracts">
            				<div style="overflow-x:auto;">
	            				<table id="emailTable">
	            				 <tr>
	            				  <td><b>Document Model </b>{{extract.documentType}}</td>
			                 	  <td>{{extract.documentConfidence}}<b><font color='green'> : Confidence</font></b></td>
	            				 </tr>
	            				</table>
		            		</div>
            				<div style="overflow-x:auto;">
			            		<table id="attachmentExtractsTable">
			            			<thead>
			            				<tr>
				            				<th>Name</th>
				            				<th>Value</th>
				            				<th>Type</th>
				            				<th>Confidence</th>
										</tr>
			            			</thead>
			            			<tbody>
									    <tr data-ng-repeat="field in extract.fields">
										    <td>{{field.fieldName}}</td>
										    <td>{{field.fieldValue}}</td>
										    <td>{{field.fieldValueType}}</td>
										    <td>{{field.fieldConfidence}}</td>
									    </tr>
			            			</tbody>
			            		</table>
		            		</div>
            			</div>
                	</div>
            	<div style="overflow-x:auto;">
	               <table id="emailTable">
	                 <tr>
			            <td><b>Message Action:</b> <font color=darkred>Delete this message with its attachments from database</font></td>
			            <td>
							<button type="button" class="btn btn-danger float-right btn-sm" ng-click=delete(item.id)><i class="fa fa-close"></i> Delete Message</button>
			            </td>
	                 </tr>
				   </table>
				</div>
            </div>
        </ul>
    </div>
</div>
