<div class="jumbotron" style="background-color:transparent !important;">
    <h1 align=center>Document AI</h1>
    <hr>
    <br>
    <h4 align=center>Ingestion, Extraction, Post Processing</h4>
    <h4 align=center>Data Correction, Anomaly, Fraud Detection</h4>
    <br>
    <hr>
    <p>Ingestion of documents coming from customers, internal functional representatives and other actors mostly over emails is an Enterprise challenge. The volume and diversity of this inflow of documents is staggerring. Upon ingestion, providing a framework for post processing, data validation, correction and quality improvement is the next hurdle. This also demands automation along with a triggered 'human in the loop' component, for faster yet safe post processing. You also need tools to detect anomalies or fraud in certain scenarios</p>
	<p>This App helps you send an email with attachments to the back end for ingestion and extraction of data using Azure Services. Once that process is complete. You can view the content in <a href='#/EmailMessageReview'>Email Review</a> and detect the data, any anomalies or fraud, or data quality issues</p>
    <hr>
</div>
